@use '../../styles/abstracts/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  border-color: $clr-text;
  background-color: $clr-bg !important;
}

.title {
  align-self: flex-start;
  font-family: VT323, sans-serif;
  background-color: $clr-bg !important;
  text-transform: uppercase;
}

.briefContent {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.readMore {
  align-self: flex-start;
}
