.container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;

  & > div {
    position: unset !important;
  }
}

.image {
  position: relative !important;
  height: unset !important;
  object-fit: contain;
  border-radius: 1rem;
}

.caption {
  text-align: center;
  font-size: 0.8em;
}
