@use './abstracts/colors' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 375px) {
    flex-direction: column;
    row-gap: 4rem;

    .newest,
    .highlight {
      row-gap: 3rem;
      max-width: 31.5rem;
      width: 31.5rem;
    }
  }
}

.newest {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  width: 63rem;

  &List {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }
}

.highlight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 3.5rem;
  width: 36rem;

  &List {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;

    a {
      padding: 0.675em 0.875em;
      border-radius: 0.5em;
      font-weight: bold;
      background-color: $clr-secondary;
    }
  }
}
