@use './abstracts/colors' as *;

.container {
  position: relative;
  display: grid;
  grid-template-areas:
    'header   header'
    'content  sidebar';
  grid-template-columns: 68.5rem auto;
  gap: 6rem 13.5rem;

  @media (max-width: 450px) {
    grid-template-areas: 'header' 'content';
    grid-template-columns: 1fr;
    gap: 4rem 0 !important;

    max-width: 39rem;
    width: 39rem;
    margin: 0 auto;

    .header,
    .content {
      width: 39rem;
      max-width: 39rem;
    }

    .content {
      h2 {
        display: block;
        padding-left: 0;
      }

      blockquote {
        margin-left: 2rem;
      }

      [class*='CustomImage'] {
        width: 100% !important;
        border-radius: 0.5em;
      }
    }

    .header {
      align-items: flex-start;
    }

    .sidebar {
      display: none;
    }
  }
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.tags {
  font-family: VT323, sans-serif;
  font-size: 1.8rem;
  color: $clr-secondary;
}

.content {
  grid-area: content;
  counter-reset: content;

  & > :not(h2, :last-child) {
    margin-bottom: 3.2rem !important;
  }

  h2 {
    display: list-item;
    padding-left: 0.25em;
    margin: 1.2rem 0 1.5rem 0 !important;
    counter-increment: content;

    &::before {
      $offset-top: 2.5em;

      content: '';
      display: block;
      height: $offset-top;
      margin: -$offset-top 0 0;
    }

    &::marker {
      content: counter(content) '.';
      font-family: VT323, sans-serif;
      font-weight: bold;
      color: $clr-primary;
    }
  }

  [class*='CustomImage'] {
    margin: 0 auto;
    width: 60rem !important;
  }
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 12rem;
  grid-area: sidebar;
  align-self: start;
}

.toc {
  margin: 1rem 0 0 0 !important;
  list-style-type: none;
  list-style-position: inside;
  counter-reset: toc;

  li {
    counter-increment: toc;

    &::marker {
      content: counter(toc) '. ';
      font-family: VT323, sans-serif;
      font-weight: bold;
      font-size: 2rem;
      color: $clr-secondary;
    }

    > a {
      font-family: VT323, sans-serif;
      font-size: 2rem;
    }
  }
}
